.technologies__svg {
  width: 70px;
  height: 70px;
  fill: $technologies-fill-color;
}
.technologies__title {
  margin-bottom: 10px;
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: $title;
}
.technologies__paragraph {
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: $paragraph;
}

@media screen and (max-width: 768px) {
  .technologies {
    padding-top: 60px;
    padding-bottom: 60px;
    justify-content: center;
  }
  .technologies__div {
    display: flex;
    max-width: 100%;
    height: 120px;
    background-color: $technologies-background-color;
    margin-bottom: 30px;
    align-items: center;
    justify-content: center;
  }

  .technologies__li {
    margin: 0 auto;
    margin-bottom: 30px;
    max-width: 450px;
  }
}
.technologies__title {
  text-align: center;
}

@media screen and (max-width: 1199px) {
  .technologies {
    padding-top: 60px;
    padding-bottom: 60px;
    justify-content: center;
  }
  .technologies__ul {
    display: flex;
    flex-wrap: wrap;
    max-width: 738px;
    padding: 0px;
    margin: 0px;
    gap: 30px;
    margin: 0 auto;

    flex-basis: calc((100% - 60px) / 2);
  }
  .technologies__li {
    width: 354px;
  }
  .technologies__title {
    display: flex;
    justify-content: start;
  }
  .technologies__div {
    display: flex;
    max-width: 100%;
    height: 120px;
    background-color: $technologies-background-color;
    margin-bottom: 30px;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (min-width: 1200px) {


  .technologies {
  padding-top: 94px;
  padding-bottom: 94px;
}

.technologies__ul {
  display: flex;
  list-style-type: none;
  padding: 0;
}
.technologies__li {
  margin-right: 30px;
  width: 270px;

  &:last-child {
  margin-right: 0;
}
}

.technologies__div {
  display: flex;
  width: 270px;
  height: 120px;
  background-color: $technologies-background-color;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
}
.technologies__svg {
  width: 70px;
  height: 70px;
  fill: $technologies-fill-color;
}
.technologies__title {
  margin-bottom: 10px;
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: $title;
}
.technologies__paragraph {
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: $paragraph;
}
}
