@media screen and (max-width: 1200px) {
  .whatwedo {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .whatwedo {
    padding-bottom: 94px;
  }
  .whatwedo__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;

    letter-spacing: 0.03em;
    color: $title;
    text-align: center;
    margin-bottom: 50px;
  }

  .whatwedo__ul {
    display: flex;
    padding-right: 0;
    padding-left: 0;
    margin: 0;
    gap: 30px;
  }

  .whatwedo__li {
    padding: 0;
    flex-basis: calc((100% - 30px) / 3);

    &:last-child {
      margin-right: 0;
    }
  }

  .whatwedo__div {
    position: relative;
  }

  .whatwedo-decor {
    position: absolute;
    width: 100%;
    height: 70px;
    background-color: $whatwedo-decor-background-color;
    bottom: 0;
    left: 0;
  }

  .whatwedo-decor__title {
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
    color: $whatwedo-decor-title-color;
    padding: 27px 0px;
  }
}
