@media screen and (min-width: 1200px) {
}

.logo {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  padding: 16px 0px;

  color: $color-logo;
  text-decoration: none;
  font-family: 'Raleway';
}
.logo__st {
  color: $color-logo-st;
}

.logo__st--color {
  color: $logo__st--color;
}

.logo--ft {
  display: flex;
  margin-bottom: 20px;
}
@media screen and (max-width: 768px) {
 .logo__ft--mobail {
    display: flex;
    justify-content: center;
    padding: 0;
    
 }
}
@media screen and (max-width: 1199px) {
  .logo--ft {
    display: flex;
    justify-content: center;
    padding: 0;
  }
}
