@media screen and (max-width: 1200px) {
    .logo {
        padding: 16px 0px;
    }
}
.logo {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;

    color: $color-logo ;
    text-decoration: none;
    font-family: 'Raleway';
}
.logo__st {
            color: $color-logo-st ;
        }
    
.logo__st--color {
  color: $logo__st--color;
 }

 .logo--ft {
     display: flex;
     margin-bottom: 20px;
}
 