.menu-link {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: $color-button-menu-link;
  cursor: pointer;
  background: $menu-link-button-b-color;
  border-radius: 4px;
  border: none;
  padding: 6px 22px 6px 22px;

  transition-property: color, background, box-shadow, border-radius;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;

  &:hover {
    color: $menu-link-hover;
    background: $menu-portfolio;
    box-shadow: 0px 3px 1px #0000001a, 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px #0000001f;
    border-radius: 4px;
  }

  &:focus {
    color: $menu-link-focus;
    background: $menu-portfolio;
    box-shadow: 0px 3px 1px #0000001a, 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px #0000001f;
    border-radius: 4px;
  }
}
