.form__paragraph {
  font-weight: 700;
  font-size: 20px;
  line-height: calc(23 / 20);
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 12px;
}

.form__div {
  display: flex;
  flex-direction: column;
}

.form__label {
  font-weight: 400;
  font-size: 12px;
  line-height: calc(14 / 12);
  color: #757575;
  margin-bottom: 4px;
}

.form__decor {
  position: relative;
  align-items: center;
}

.form__input {
  width: 100%;
  height: 40px;
  font-weight: 400;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  margin-bottom: 10px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 41px;
  color: #757575;

  transition-property: outline;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;

  &:focus {
    outline-color: #2196f3;
  }

  &:focus ~ .form__svg {
    fill: #2196f3;
  }
}

.form__svg {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 11px;
  left: 12px;
  fill: #212121;
}

.form__textarea {
  resize: none;
  width: 100%;
  height: 120px;
  font-weight: 400;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  margin-bottom: 20px;
  color: #757575;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 16px;

  transition-property: outline;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;

  &:focus {
    outline-color: #2196f3;
  }
}

.form__comment {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.form__checkbox {
  display: flex;
  align-items: center;
}

.form__text {
  position: absolute;
  -webkit-appearance: none;
  appearance: none;
  appearance: none;

  &:checked + .form__span {
    background-image: url(../../images/checkbox-on.svg);
  }
}

.form__span {
  display: flex;
  width: 16px;
  height: 15px;
  background-image: url(../../images/checkbox-of.svg);
  margin-right: 7px;
}

.form__agree {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: #757575;
}

.form__link {
  color: #2196f3;
}

.form__button {
  display: flex;
  margin: 0 auto;
  background-color: $form__button--color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  padding: 10px 52px;
  cursor: pointer;

  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  color: #ffffff;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;

  &:focus,
  &:hover {
    background-color: $hover__focus__studio--color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}
@media screen and (max-width: 480px) {
  .form__agree {
    font-weight: 400;
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.03em;
    color: #757575;
  }
  .form__checkbox {
    display: flex;
    align-items: baseline;
  }
}
