.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 9999;
}

.modal__div {
  position: absolute;
  padding: 40px;
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.modal__button {
  display: flex;
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  margin: 8px;
  cursor: pointer;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;

  &:hover {
    fill: #2196f3;
  }
}

.modal__svg {
  display: flex;
  width: 11px;
  height: 11px;
}
@media screen and (max-width: 767px) {
  .modal {
    display: flex;
    padding-top: 94px;
    justify-content: center;
    
  }
  .modal__div {
    max-width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .modal__div {
    top: 50%;
    left: 50%;
    width: 528px;
    min-height: 581px;
    transform: translate(-50%, -50%);
  }
}
