.our-team {
    padding-bottom: 94px;
    background-color: var(--our-team-color);
    padding-top: 94px;


    &__title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.16;

        letter-spacing: 0.03em;
        color: var(--title-second-level);
        margin-bottom: 50px;
        text-align: center;
    }

    &__ul {
        display: flex;
        padding-right: 0;
        padding-left: 0;
        margin: 0;
        gap: 30px;
    }

    &__li {
        background-color: var(--our-team-li-color);
        flex-basis: calc((100% - 30px) / 4);
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
            0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
    }

    &__li:last-child {
        margin: 0;
    }

    &__div {
        background-color: var(--our-team-div-background-color);
    }

    &__title--card {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.18;
        letter-spacing: 0.03em;

        padding-top: 30px;
        padding-bottom: 10px;
        text-align: center;
        color: var(--title-third-level);
    }

    &__paragraph {
        text-align: center;
        margin-bottom: 16px;
    }

    .our-team-social {
        display: flex;
        list-style: none;
        gap: 10px;
        padding: 0;
        justify-content: center;
        margin-bottom: 30px;
    }

    .our-team-social>.our-team-social__li a {
        display: inline-flex;
        padding: 12px 12px;
        color: $our-team-social;
        border-radius: 50%;
        fill: $our-team-social-fill;

        transition-property: background-color, fill;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-delay: 0;
    }

    .our-team-social>.our-team-social__li a:hover,
    .our-team-social>.our-team-social__li a:focus {
        fill:   $our-team-social-fill-hover;
        background-color: $our-team-social-hover;
    }

    .our-team-social__svg {
        width: 20px;
        height: 20px;
    }
}