@media screen and (max-width: 768px) {
  .mobail {
    display: inline-block;
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    z-index: 1111;

    &.is-open .mobail__close {
      display: block;
    }
    &.is-open .mobail__icon-menu {
      display: none;
    }

    &:hover,
    &:focus {
      fill: $hover__focus;
    }

    &.is-open .mobail-menu__svg {
      fill: #000000;

      &:hover,
      &:focus {
        fill: $hover__focus;
      }
    }
  }

  .mobail__close {
    display: none;
  }
  .mobail-menu__svg {
    width: 40px;
    height: 40px;
  }

  /* mobail menu */
  .mobail__menu--open {
    display: none;

    position: absolute;
    width: 100%;

    padding: 48px 40px;
    top: 0;
    left: 0;
    background-color: #ffffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
      0px 1px 3px rgba(0, 0, 0, 0.16);
    z-index: 111;

    &.is-open {
      display: block;
      display: flex;
      flex-direction: column;
      margin-bottom: auto;
      height: 100%;
    }
  }
  .header__navigation--mobail {
    display: flex;
    flex-direction: column;
    margin-bottom: auto;
  }

  .link--mobail {
    position: relative;
    display: block;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: calc(47 / 40);
    letter-spacing: 0.02em;
    text-decoration: none;
    color: $color-nav-link;

    padding-bottom: 32px;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0;

    &--current,
    &:focus,
    &:hover {
      color: $link-hover-focus;
    }
  }
  .contact--mobail {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin-bottom: 64px;
  }
  .contact__link--mobail {
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 7vw;
    line-height: calc(40 / 34);
    letter-spacing: 0.02em;
    color: $contact__link--mobail-color;
    text-decoration: none;
    list-style-type: none;
    align-items: center;
    justify-content: center;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0;

    &:hover {
      color: $contact-focus;
    }

    &:focus {
      color: $contact-focus;
    }
  }
  .contact__li--mobail {
    margin-bottom: 32px;

    &:last-child {
      margin: 0;
    }
  }
  .contact__link__mobail--mail {
    font-weight: 500;
    font-size: 24px;
    line-height: calc(28 / 24);
    letter-spacing: 0.02em;
    list-style-type: none;
    color: $paragraph;
    text-decoration: none;
    list-style-type: none;
    align-items: center;
    justify-content: center;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0;
    &:hover {
      color: $contact-focus;
    }

    &:focus {
      color: $contact-focus;
    }
  }
  .social__mobail--menu {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;

    @media screen and (max-width: 437px) {
      gap: 10px;
    }

  }
  .social__mobail--li {
    margin-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);

    &:last-child {
      margin: 0;
      border: none;
    }
  }
  .social__mobail--link {
    display: flex;
    font-weight: 500;
    font-size: 18px;
    line-height: cal(22/18);
    text-decoration: none;
    color: $social__mobail--link;
    margin-right: 10px;
  }
}
@media screen and (min-width: 768px) {
  .mobail {
    display: none;
  }
  .mobail__menu--open {
    display: none;
  }
  .mobail-menu__svg {
    display: none;
  }
}
