$color-logo-st: #000000 ;
$color-logo: #2196f3 ;
$logo__st--color:#ffffff;

$border-color: #ececec;
$box-shadow: rgba(0, 0, 0, 0.15);
$whatwedo-decor-background-color: rgba(47, 48, 58, 0.8);
$our-team-social-fill: #afb1b8;
$footer-color: #2f303a;
$products-overlay-background-color: rgba(33, 150, 243, 0.9);

$our-team-social: #2196f3;
$menu-link-background: #2196f3;
$menu-portfolio: #2196f3;
$social__mobail--link: #2196F3;

$hover__focus: #2196F3;
$our-team-social-hover: #2196f3;
$kyiv-hover: #2196f3;
$kyiv-focus: #2196f3;
$link-hover-focus: #2196f3;
$contact-focus: #2196f3;
$contact-focus: #2196f3;
$footer-form__button--color: #2196f3;
$form__button--color: #2196f3; 

$footer-form__sign--color: #ffffff;
$menu-link-hover: #ffffff;
$menu-link-focus: #ffffff;
$our-team-social-fill-hover: #ffffff;

$decision-title-color: #ffffff;
$menu-link-studio-color: #ffffff;
$our-team-li-color: #ffffff;
$our-team-div-background-color: #ffffff;
$whatwedo-decor-title-color: #ffffff;
$footer-form__span-color: #ffffff;

$kyiv-color: #ffffff;
$contact-ft: #ffffff99;

$our-team-li-color: #ffffff;
$our-team-div-background-color: #ffffff;
$products-paragraph-color: #ffffff;

$technologies-background-color: #f5f4fa;
$menu-link-button-b-color: #f5f4fa;
$our-team-color: #f5f4fa;

$technologies-fill-color: #212121;
$color-nav-link: #212121;
$color-button-menu-link: #212121;

$title: #212121; 
$paragraph: #757575;
$contact__link--mobail-color: #2196F3;

$hover__focus__studio--color: #188ce8;






























